#SideNav {
	border:3px solid #3e4547;
	box-shadow:2px 2px 8px #000000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#SideNav, #SideNav ul {
	list-style:none;
	padding:0;
	width:200px;
}
#SideNav ul {
	position:relative;
	z-index:-1;
}
#SideNav li {
	position:relative;
	z-index:100;
}
#SideNav ul li {
	margin-top:-23px;
	-moz-transition:  0.4s linear 0.4s;
	-ms-transition: 0.4s linear 0.4s;
	-o-transition: 0.4s linear 0.4s;
	-webkit-transition: 0.4s linear 0.4s;
	transition: 0.4s linear 0.4s;
}
#SideNav li a {
	background-color:#d4d5d8;
	color:#000;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:28px;
	outline:0;
	padding-left:15px;
	text-decoration:none;
}
#SideNav li a.sub {
	background:#d4d5d8 url("../images/down.gif") no-repeat;
}
#SideNav li a + img {
	cursor:pointer;
	display:none;
	height:28px;
	left:0;
	position:absolute;
	top:0;
	width:200px;
}
#SideNav li a img {
	border-width:0px;
	height:24px;
	line-height:28px;
	margin-right:8px;
	vertical-align:middle;
	width:24px;
}
#SideNav li a:hover {
	background-color:#bcbdc1;
}
#SideNav ul li a {
	background-color:#eee;
	border-bottom:1px solid #ccc;
	color:#000;
	font-size:11px;
	line-height:22px;
}
#SideNav ul li a:hover {
	background-color:#ddd;
	color:#444;
}
#SideNav ul li a img {
	background: url("../images/bulb.png") no-repeat;
	border-width:0px;
	height:16px;
	line-height:22px;
	margin-right:5px;
	vertical-align:middle;
	width:16px;
}
#SideNav ul li:nth-child(odd) a img {
	background:url("../images/bulb2.png") no-repeat;
}
#SideNav a.sub:focus {
	background:#bcbdc1;
	outline:0;
}
#SideNav a:focus ~ ul li {
	margin-top:0;

	-moz-transition:  0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linears;
	-webkit-transition: 0.4s linears;
	transition: 0.4s linear;
}
#SideNav a:focus + img, #SideNav a:active + img {
	display:block;
}
#SideNav a.sub:active {
	background:#bcbdc1;
	outline:0;
}
#SideNav a:active ~ ul li {
	margin-top:0;
}
#SideNav ul:hover li {
	margin-top:0;
}